---
layout: base
---

<!-- <div class="hero">
    <h2>{{hero.title }}</h2>
</div> -->

<div class="hero">
    <h1>{{hero.title}}</h1>
</div>

<div class="bg1 pull">
    <h2>{{pull.one}}</h2>
</div>

<div class="gap"></div>

<div class="bg2">
    <img src="{{image1.src}}" alt="{{image1.alt}}">

    <div class="pull">
        <h2>{{pull.two}}</h2>
    </div>

    <div class="middle">
        <img src="{{image2.src}}" alt="{{image2.alt}}">
    </div>

    <div class="over wrapper">
        <img src="{{image3.src}}" alt="{{image3.alt}}">
        <div class="par">
            <h2>{{par.one}}</h2>
        </div>
    </div>
</div>


<div class="bg1">
    <img src="{{image4.src}}" alt="{{image4.alt}}">
    <div class="pull">
        <h2>{{pull.three}}</h2>
    </div>
</div>

<div class="gap"></div>

<div class="bg1">
    <div class="pull">
        <h2>{{pull.four}}</h2>
    </div>
    <img src="{{image5.src}}" alt="{{image5.alt}}">
</div>

<div class="gap"></div>

<div class="bg1">
    <div class="pull">
        <h2>{{pull.five}}</h2>
    </div>

    <div class="middle">
        <img src="{{image6.src}}" alt="{{image6.alt}}">
    </div>
</div>

<div class="gap"></div>

<div class="bg1">
    <div class="pull">
        <h2>{{pull.six1}}</h2>
        <h2>{{pull.six2}}</h2>
        <h2>{{pull.six3}}</h2>
        <h2>{{pull.six4}}</h2>
        <h2>{{pull.six5}}</h2>
    </div>

    <div class="caption">
        <h3>{{caption.one}}</h3>
    </div>

    <div class="middle">
        <img src="{{image7.src}}" alt="{{image7.alt}}">
    </div>

    <div class="caption">
        <h3>{{caption.two}}</h3>
    </div>

    <img src="{{image8.src}}" alt="{{image8.alt}}">

</div>

<div class="main-content bg1 middle par">
    {{ content }}
</div>

<div class="bg1">
    <div class="caption">
        <h3>{{caption.three}}</h3>
    </div>
    <img src="{{image9.src}}" alt="{{image9.alt}}">
</div>

<!-- <h4>{{bridge.test}}</h4> -->

<!-- have a class for pull quotes and one for each background

do images with negative margins to overlap-->

<!-- <div class="grid">
    <div class="box">
        <img src="{{image1.src}}" alt="{{image1.alt}}">
    </div>
    <div class="box">
        <img src="{{image2.src}}" alt="{{image2.alt}}">
    </div>
    <div class="box">
        <img src="{{image3.src}}" alt="{{image3.alt}}">
    </div>
</div> -->





<!-- content will be the artist info -->
