body {
    font-size: 16px;
    /* background-color: #f7f7f7; */
    font-family: utile-display, sans-serif;
    font-weight: 400;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
    line-height: 2em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    /* margin-bottom: 1.5em; */
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #86849c;
}

.inner-wrapper {
    width: 94%;
    margin: 0 auto;
}

footer {
    /* background-color: #f7f7f7; */
    /* border: 0.5px solid #fff; */
    padding: 2em;
    background: #21202E;
    color: #86849c;
    /* border: solid 1px #fff; */
}

footer a {
    color: #86849c;
}

footer a:hover {
    color: #fff;
}

.hero {
    text-align: center;
    /* background: #a5a5a5; */
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -5;
    /* padding: 2em; */
    /* margin: 1em 0; */
    /* vertically align */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url(../images/img8.jpeg);
    /* background-position: center; */
    background-size: cover;
    background-position: fixed;
}

.line-bottom {
    padding: 1em;
    border-bottom: solid 1px #fff;
}

.final {
    /* border-top: solid 1px #fff; */
    /* margin-top: 40em; */
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -5;
    background-image: url(../images/img9.jpeg);
    background-size: cover;
    background-position: center;
}

.final-text {
    text-align: center;
    position: relative;
    /* bottom: 0; */
    padding-top: 90vh;
}

.line-top {
    /* solid line 1px */
}

/* .end {
    padding: 1em;
    margin-top: -5em;
    text-align: center;
} */

.logo {
    height: 80px;
}

main {
    /* margin-bottom: 2em; */
}

img {
    max-width: 100%;
}

.images {
    display: flex;

}

/* .images: */
.images img {
    flex: 1;
    max-width: 20em;
}

.pull {
    text-align: center;
    padding: 10em;
}

.gap {
    height: 100vh;
}

/* .middle {
    padding: 0 10em;
} */

.wrapper {
    padding-left: 10em;
    padding-right: 10em;
}

.over {
    margin: -7em 0 0 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a b";
}

.a {
    grid-area: a;
}

.a img {
    padding-bottom: 2em;
}

.b {
    grid-area: b;
}

.par {
    padding: 10em 2em;
}

.bg1 {
    backdrop-filter: blur(8px);
    background: rgba(68, 98, 119, 0.7);
}

.bg2 {
    backdrop-filter: blur(8px);
    background: rgba(170, 90, 28, 0.6);
    /* padding: 10em; */
}

.bg3 {
    backdrop-filter: blur(8px);
    background: rgba(27, 42, 102, 0.6);
}

/* .about {
    padding: 10em 10em;
} */

.vert-wrapper {
    padding-top: 10em;
    padding-bottom: 10em;
}

.main-content h1 {
    padding-bottom: 0.5em;
}

.caption {
    padding-bottom: 1em;
}

.image {
    padding-bottom: 10em;
}

/* 
.final {

} */

/* whack a grid here for the images and maybe a grid gap */



/* sizing */
@media (min-width: 42em) and (max-width: 60em) {

    .wrapper {
        padding-left: 5em;
        padding-right: 5em;
    }

    .pull {
        padding: 5em;
    }

    .par {
        padding: 8em 2em;
    }
}



@media (max-width: 42em) {
    .wrapper {
        padding-left: 2em;
        padding-right: 2em;
    }

    .pull {
        padding: 5em;
    }

    .par {
        padding: 6em 2em;
    }

    .over {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "b"
        "a";
    }

    .image {
        padding-bottom: 5em;
    }

    .vert-wrapper {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .par {
        padding: 5em 0em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

}